@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.loading-root {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 6px solid turquoise;
  border-top: 6px solid transparent;
  animation: load-root 0.8s infinite linear;
}
@keyframes load-root {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
